/**
 * Layout Header
 *
 */

header {
	background: steelblue;
}

h1 {
	@extend %color-white;
	font-size: 30px;
	text-align: center;
	padding: 30px 0;
	margin: 0;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

	@include respond-to(mobile) {
		font-size: 26px;
	}

	span {
		font-size: 50px;
		display: block;
		padding: 10px 0;

		@include respond-to(mobile) {
			font-size: 40px;
		}

		@include media-only(small-mobile, max) {
			font-size: 34px;
		}
	}
}

#nav {
	@extend %bgc-white;
	display: flex;
	justify-content: center;

	@include respond-to(mobile) {
		font-size: 14px;
	}

	button {
		@include media-only(small-mobile, max) {
			font-size: 12px;
		}

		@include media-only(small-mobile, max) {
			padding: 0 10px;
		}
	}

	.mode-wrapper {
		display: flex;

		.selected {
			@extend %bgc-primary;
			@extend %color-white;
		}
	}

	#message {
		width: 15%;
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		text-transform: capitalize;
		@extend %color-primary;

		@include respond-to(mobile) {
			font-size: 14px;
		}

		@include media-only(small-mobile, max) {
			font-size: 13px;
			width: 22%;
		}
	}
}

#reset {
	min-width: 140px;
}
